<div class="container table-responsive text-center">
<table class="table table-hover">
  <thead>
    <tr>
      <th class="text-center">Results</th>
    </tr>
  </thead>
  <tbody>
    {{#each model as |result|}}
      <tr>{{result-row result=result delete="delete"}}</tr>
    {{/each}}
  </tbody>
</table>
</div>
