<div class="container">
    {{ tack-players disabled=disabled playerOne=playerOne playerTwo=playerTwo switchPlayerOne="switchPlayerOne" }}
    {{ tack-board reset="reset" select="select" squares=squares nextGo=nextGo }}
</div>
{{ tack-result result=result reset="reset" }}
