<div class="container">
    {{ tack-players disabled=disabled shapes=shapes playerOne=playerOne playerTwo=playerTwo }}
    {{ tack-board reset="reset" select="select" squares=squares }}
</div>
{{ tack-result result=result reset="reset" }}
