body,
html {
  margin: 5px;
  height: 100%;
  width: 100%;
}
@import "bootstrap";
@import "partials/_square";
@import "partials/_board";
@import "partials/_shapes";
@import "partials/_players";
@import "partials/_result";
@import "partials/_bootstrap";
@import 'ember-power-select/themes/material';
@import "ember-power-select";
@import "partials/_power-select"
