.cell {
  animation: pulse 16s ease infinite;
  border: 1px solid #f9a40b;
  flex-basis: auto;
  flex-grow: 1;
  cursor: crosshair;
}
@keyframes pulse {
  0% {
    border-color: #f9a40b;
  }
  25% {
    border-color: #d03e3f;
  }
  50% {
    border-color: #e4288d;
  }
  75% {
    border-color: #d7287a;
  }
  100% {
    border-color: #ac412a;
  }
}
.row-container {
  .no-border {
    border: none;
  }
  .no-border-left {
    border-left: none;
  }
  .no-border-right {
    border-right: none;
  }
  .no-border-top {
    border-top: none;
  }
  .no-border-bottom {
    border-bottom: none;
  }
}
