$cross: url("images/Red_Cross.svg");
$circle: url("images/Blue_circle.svg");
$dino: url("images/dino.png");

.cross {
  background: transparent $cross center no-repeat;
  background-size: 100px;
}
.circle {
  background: transparent $circle center no-repeat;
  background-size: 100px;
}
.dino {
  background: transparent $dino center no-repeat;
  background-size: 100px;
}
